<div class="course-item">
  <div class="course-item__container">
    <div class="course-item__info">
      <div class="course-item__info-inner">
        <div class="course-item__info-block course-item__title">
          {{course.name | uppercase}}
        </div>
        <div [ngClass]="{'course-item__top-rated_empty': !course.isTopRated, 'course-item__top-rated_filled': course.isTopRated}" class="course-item__top-rated"></div>
      </div>
      <div class="course-item__info-inner">
        <div class="course-item__info-block">
          {{course.durationTime | courseDuration}}
        </div>
        <div class="course-item__info-block">
          {{course.date | date:'dd/MM/y'}}
        </div>
      </div>
    </div>
    <div class="courses-item__description">
      {{course.description}}
    </div>
  </div>
  <div class="course-item__controls">
    <div class="course-item__button">
      <app-button (buttonClick)="onClickEdit($event)" flexBlock="true" title="Edit" icon="assets/img/edit.png"></app-button>
    </div>
    <div class="course-item__button">
      <app-button (buttonClick)="onClickDeleteCourse($event)" flexBlock="true" title="Delete" icon="assets/img/delete.png"></app-button>
    </div>
  </div>
</div>
