<div class="course-add">
  <div class="course-add-form">
    <div class="course-add-form__field">
      <div class="course-add-form__label">Title:</div>
      <input [(ngModel)]="course.title" type="text" class="course-add-form__input course-add-form__input_full-width">
    </div>
    <div class="course-add-form__field">
      <div class="course-add-form__label">Description:</div>
      <textarea [(ngModel)]="course.description" name="description" id="" cols="30" rows="10" class="course-add-form__textarea"></textarea>
    </div>
    <div class="course-add-form__field">
      <div class="course-add-form__label">Date:</div>
      <input [(ngModel)]="course.creationDate" type="date" class="course-add-form__input">
    </div>
    <div class="course-add-form__field">
      <div class="course-add-form__label">Duration:</div>
      <div class="course-add-form__field-box">
        <input [(ngModel)]="course.durationTime" type="number" class="course-add-form__input">
        <div class="course-add-form__duration">{{course.durationTime | courseDuration}}</div>
      </div>
    </div>
    <div class="course-add-form__field">
      <div class="course-add-form__label">Authors:</div>
      <div>authors component tbd</div>
    </div>
    <div class="course-add-form__buttons">
      <div class="course-add-form__button">
        <app-button (buttonClick)="save($event)" title="Save"></app-button>
      </div>
      <div class="course-add-form__button">
        <app-button (buttonClick)="cancel($event)" title="Cancel"></app-button>
      </div>
    </div>
  </div>
</div>
